
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


/* VARIABLE CSS================================================================================- */
/*-============================================================================================- */
:root{

    /* COLORS=---------------- */
    --primary-color: #C8102E;
    --accent-color: #003F87;
    --text-color-w: #FFFFFF;
    --text-color-b: #1C1C1C;
    --container-color: #B0B0B0;
    --body-color: #FFFFFF;
    /* ======================= */


    /* FONT & TYPOGRAPHY====== */
    --title-font: 'Russo One', sans-serif;
    --body-font: 'Oswald', sans-serif;
    --etx-font: 'Montserrat', sans-serif;

    --big-font-size: 4rem;
    --h1-font-size: 2.986rem;
    --h2-font-size: 2.488rem;
    --h3-font-size: 2.074rem;
    --h4-font-size: 1.728rem;
    --normal-font-size: 1rem;
    --small-font-size: .75em;

    --icon-size: 2rem;
    --icon-size-small: 1rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* ======================= */


    /* MARGINS & PADDING ===== */
    --mar-sml: .5rem;
    --mar-1: 1rem;
    --mar-2: 1.5rem;
    --mar-3: 2rem;
    --mar-4: 3rem;
    --mar-5: 4rem;

    --gap-1: 1rem;
    --gap-2: 1.5rem;
    --gap-3: 3rem;
    --gap-4: 4rem;
    --gap-5: 5rem;

    --header-height: 3rem;
    /* ======================= */


    /* MISC=================== */
    --z-fixed: 15;
    --outer-radius: 32px;
    --inner-radius: 32px;
    /* ======================= */

}
/*-============================================================================================- */

/* HTML BASE===================================================================================- */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color-b);
}

h1{
    font-size: var(--h1-font-size);
}

h2{
    font-size: var(--h2-font-size);
}

h3{
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}

p{
    font-size: var(--normal-font-size);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
}

img{
    /* max-width: 100%; */
    /* height: auto; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* RESPONSIVE BREAKPOINTS======================================================================- */

/* FOR SML MOBILE */
@media screen and (max-width : 389px){
    .container{
        margin: 0 1rem;
    }
}

/* FOR MOBILE */
@media screen and (min-width: 390px){
    .container{
        max-width: 326px;
        margin: 0 auto;
    }
}

/* FOR TABLE  */
@media screen and (min-width: 744px){
    .container{
        max-width: 648px;
        margin: 0 auto;
    }
}

/* FOR DESKTOP */
@media screen and (min-width: 1100px){
    .container{
        max-width: 1080px;
        margin: 0 auto;
    }
}
/*-============================================================================================- */

/* REUSABLE CSS CLASSES========================================================================- */

.flex-column{
    display: flex;
    flex-direction: column;
}

.responsive-container{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

.section{
    position: relative;
    padding-bottom: 8rem;
    overflow: hidden;
}

.section-title{
    font-family: var(--title-font);
    font-size: var(--h2-font-size);
    color: white; 
   -webkit-text-stroke: 1.5px var(--text-color-b);

}

.section-subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.p-text{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.transition{
    transition: all .4s ease-in-out;
}
/*-============================================================================================- */

/* CSS COMPONENTS =============================================================================- */

/* BUTTONS */
.button{
    width: 276px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.button:hover{
    transform: translateY(-10px);
}

.button p{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-bold);
}
/* -------- */

/* SECTION ACCENTS */
.section-accent{
    display: flex;
    align-items: center;
    gap: var(--gap-1);
}

.img-container{
    height: 48px;
    width: 64px;
    position: relative;
}

.section-accent img{
    height: auto;
    width: 100%;
}

.section-accent h4{
    font-size: var(--h4-font-size);
    font-weight: var(--font-medium);
}

/*-============================================================================================- */

/* NAVIGATION =================================================================================- */
nav{
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 15;
    height: 96px;
    padding: 2rem 0 1rem;
    background-color: var(--body-color);
    width: 100%;
    box-shadow: 4px 4px 8px 4px #0e1b1620;
}

nav .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.logo-container{
    position: relative;
    width: 55px;
    height: 48px;
}

.logo-container img{
    width: 100%;
    height: auto;
}

.nav-heading{
    font-size: 24px;
}
/*-============================================================================================- */

/* HOME SECTION ===============================================================================- */
.home{
    position: relative;
    overflow: hidden;
    padding-bottom: 80px !important;
}

.home-container{
    padding-top: 9rem;
    gap: var(--gap-4);
}

.home-section-accent{
    margin-bottom: var(--gap-1);
}

.home-section-accent h4{
    font-weight: var(--font-regular);
    font-style: italic;
}

.home-title{
    font-family: var(--title-font);
    margin-bottom: var(--gap-3);
    color: white; 
    -webkit-text-stroke: 1.5px var(--text-color-b);
}

.home-button-container{
    display: flex;
    align-items: center;
    gap: var(--gap-2);
}

.home-button{
    height: 48px;
    width: 151px;
    background-color: var(--primary-color);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.home-button:hover{
    transform: translateY(-10px);
}

.home-button p{
    font-weight: var(--font-bold);
    color: var(--text-color-w);
    font-family: var(--body-font);
}

.social-link{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.social-link p{
    font-weight: var(--font-regular);
    color: var(--text-color-b);
}

.social-link i{
    font-size: 2rem;
    color: var(--accent-color);
}

.home-img{
    position: relative;
    width: 326px;
    height: 405px;
    margin-bottom: 80px;
}

.home-img img{
    height: auto;
    width: 100%;
}

.section-spacer{
    position: relative;
    height: 128px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-spacer-img{
    position: relative;
    width: 501px;
    height: 100%;
    object-fit: fill ;
}
/*-============================================================================================- */

/* SERVICES SECTION ===========================================================================- */
.services-frame-one{
    gap: var(--gap-1);
}

.services-list{
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-2);
    margin-top: 80px;
}

.services-list-item{
    width: 326px;
    height: 256px;
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

.service-item-info{
    position: absolute;
    bottom: var(--gap-2);
    left: 50%;
    transform: translateX(-50%);
    height: 48px;
    width: 278px;
    border-radius: .5rem;
    background-color: var(--text-color-b);
    color: var(--text-color-w);
    display: flex;
    align-items: center;
    gap: var(--gap-1);
    padding: 12px;
}

.service-item-info .img-container{
    position: relative;
    height: 24px;
    width: 24px;
}

.service-item-info img{
    width: 100%;
    height: auto;
}

.service-item-info p{
    font-weight: var(--font-semi-bold);
}

.services-header{
    position: relative;
    margin-top: 80px;
    height: 288px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-w);
    text-align: center;
}

.services-header h2{
    z-index: 5;
    display: block;
    max-width: 326px;
   -webkit-text-stroke: 0 var(--text-color-b);
}

.services-header img{
    width: 100vw;
    height: 100%;
    object-fit: fill;
    left: 0;
    top: 0;
}

.services-frame-three{
    margin-top: var(--mar-3);
    text-align: center;
    gap: var(--gap-3);
}

.services-button-container{
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
}

.service-button:nth-child(1){
    background-color: var(--primary-color);
    color: var(--text-color-w);
}

.service-button:nth-child(2){
    background-color: var(--accent-color);
    color: var(--text-color-w);
}
/*-============================================================================================- */

/* ABOUT SECTION ==============================================================================- */
.about{
    padding-bottom: 0;
}

.about-container{
    gap: var(--gap-3);
}

.about-frame-one{
    display: flex;
    flex-direction: column;
    gap: var(--gap-3);
}

.about-frame-two{
    gap: var(--gap-1);
}

.about-title{
    margin-bottom: var(--gap-1);
}

.p-text span{
    color: var(--primary-color);
    font-weight: var(--font-bold);
}

.about-img-container{
    justify-self: center;
    width: 326px;
    height: 320px;
}

.about-frame-three{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    width: 100%;
}

.about-modal{
    width: 100%;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--text-color-w);
    border-radius: 2rem;
}

.about-modal h4{
    font-weight: var(--font-semi-bold);
}

.about-modal .img-container{
    height: 48px;
    width: 48px;
    position: relative;
}

.about-modal .img-container img{
    width: 100%;
    height: auto;
}

.about-modal:nth-child(1){
    background-color: var(--accent-color);
}

.about-modal:nth-child(2){
    background-color: var(--primary-color);
}

.about-section-spacer{
    margin-top: 80px;
    transform: rotate(180deg);
}
/*-============================================================================================- */

/* GALLERY SECTION ============================================================================- */
.gallery{
    padding-top: 80px;
}

.gallery-container{
    gap: var(--gap-3);
}

.gallery-frame-one{
    gap: var(--gap-1);
}

.gallery-swiper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-3);

}

.gallery-swiper-card{
    position: relative;
    height: 435px;
    width: 326px;
    border-radius: 2rem;
    overflow: hidden;
    transition: all .4s ease-in-out;
}

.gallery-swiper-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
}

.gallery-swiper-buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.gallery-swiper-button{
    position: relative;
    width: 92px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.gallery-swiper-button:hover{
    transform: translateY(-10px);
}

.gallery-swiper-button i{
    font-size: 3rem;
    color: var(--text-color-w);
    display: block;
    z-index: 5;
}

.gallery-swiper-button img{
    height: auto;
    width: 100%;
    display: block;
    z-index: 0;
}
/*-============================================================================================- */

/* CONTACT SECTION ============================================================================- */
.contact-frame-one{
    gap: var(--gap-1);
}

.contact-title{
    margin-bottom: var(--gap-1);
}

.contact-frame-one h3{
    font-weight: var(--font-regular);
    margin-bottom: var(--gap-1);
}

.contact-buttons-container{
    display: flex;
    flex-direction: column;
    gap: var(--gap-2);
    align-items: center;
}

.contact-button:nth-child(1){
    background-color: var(--accent-color);
    color: var(--text-color-w);
}

.contact-button:nth-child(2){
    background-color: var(--primary-color);
    color: var(--text-color-w);
}

.contact-frame-two{
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-frame-two h2{
    max-width: 326px;
    color: var(--text-color-w);
    display: block;
    z-index: 5;
    text-align: center;
}

.contact-frame-two img{
    width: 100vw;
    height: 100%;
    object-fit: fill;
    left: 0;
    top: 0;
}
/*-============================================================================================- */

/* FOOTER SECTION =============================================================================- */
.footer{
    padding-bottom: 80px;
}

.footer-frame-one{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-2);
}

.footer-frame-one .social-link:nth-child(2) i{
    color: var(--text-color-b);
}

.footer-list{
    margin-top: var(--gap-3);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-2);
    max-width: 326px;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.footer-list-item{
    padding-right: var(--gap-1);
    border-right: 1px solid var(--text-color-b);
    display: flex;
    align-items: center;
}

.footer-list-item a{
    color: var(--text-color-b);
}

.footer-frame-two{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--text-color-b);
    border-bottom: 1px solid var(--text-color-b);
    padding: var(--gap-1) 0;
    margin-top: var(--gap-2);
}

.signature{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.signature .img-container{
    position: relative;
    width: 28px;
    height: 24px;
}

.signature img{
    width: 100%;
    height: auto;
}

.signature div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.signature div p{
    font-family: var(--etx-font);
}

.copyright{
    font-size: var(--small-font-size);
}
/*-============================================================================================- */

/* RESPONSIVE BREAKPOINTS =====================================================================- */

/* TABLET */
@media screen and (min-width: 744px){

    .home-container{
        flex-direction: row;
        align-items: center;
        gap: 0;
        margin-bottom: 80px;
    }

    .home-frame-one{
        max-width: 326px;
    }

    .home-img{
        width: 312px;
        margin-bottom: 0;
    }

    .section-spacer-img{
        width: 872px;
    }

    .services-list-item{
        width: 312px;
    }

    .service-item-info{
        width: 264px;
    }

    .services-frame-one{
        align-self: center;
        max-width: 494px;
        flex-direction: row;
    }

    .services-header{
        height: 371px;
    }

    .services-header h2{
        max-width: 525px;
    }

    .services-button-container{
        flex-direction: row;
    }

    .about-frame-one{
        flex-direction: row;
        gap: var(--gap-1);
        align-items: center;
    }

    .about-frame-two{
        max-width: 319px;
    }

    .about-img-container{
        width: 320px;
        height: 316px;
    }

    .about-img-container img{
        object-fit: contain;
    }

    .about-frame-three{
        flex-direction: row;
    }

    .gallery-swiper{
        overflow: hidden;
    }

    .gallery-swiper-card.swiper-slide-active{
        width: 312px !important;
    }

    .gallery-swiper-card.swiper-slide-next,
    .gallery-swiper-card.swiper-slide-prev{
        width: 144px !important;
    }

    .contact-buttons-container{
        flex-direction: row;
    }

    .contact-frame-two h2{
        max-width: 525px;
    }

    .footer-list{
        max-width: 455px;
    }
}

/* DESKTOP */
@media screen and (min-width: 1100px){

    .section-title{
        font-size: var(--h1-font-size);
    }

    .button{
        width: 276px;
    }

    .home-button{
        width: 184px;
    }

    .home-title{
        font-size: var(--big-font-size) !important;
    }

    .home-container{
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .home-frame-one{
        max-width: 487px;
    }

    .home-img{
        width: 436px;
        height: 542px;
    }

    .section-spacer-img{
        width: 1764px;
    }

    .services-list-item{
        width: 344px;
        height: 352px;
    }

    .service-item-info{
        width: 296px;
    }

    .services-header h2{
        max-width: 600px;
    }

    .about-frame-one{
        justify-content: space-between;
    }

    .about-frame-two{
        max-width: 528px;
    }

    .about-img-container{
        width: 528px;
        height: 436px;
    }

    .gallery-frame-one{
        align-self: center;
        flex-direction: row;
        align-items: center;
        gap: var(--gap-2);
    }

    .gallery-title{
        width: 370px;
    }

    .gallery-swiper-card.swiper-slide-next,
    .gallery-swiper-card.swiper-slide-prev{
        width: 252px !important;
        height: 434px !important;
    }

    .gallery-swiper-card.swiper-slide-active{
        width: 528px !important;
    }

    .contact-frame-one{
        width: 750px;
    }
}